file này coi mẫu thôi, tạo 1 file .env xong để giá trị của mọi người vô
DB_HOST=localhost
DB_PORT=5432
DB_NAME=english_platform
DB_USER=postgres
DB_PASSWORD=your_development_password <-- cái này chắc sẽ là postgres với mọi người